@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
:root{
    --primary: #ddd;
    --dark: rgb(21, 32, 43);
    --light: #fff;
    --shadow: 0px 1px 5px rgba(104,104,104,0.8);
}
html{
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}
body{
    background: rgb(21, 32, 43);;
    margin: 30px 50px;
    line-height: 1.4;
    color: var(--light);
}
.btn {
    background:var(--dark);
    color : var(--light);
    text-decoration: none;
    border: 0;
}
.wrapper{
    display:grid; 
    grid-gap: 20px;
}
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.signup-inForm {
    /* background-color: rgba(28, 204, 107, 0.623); */
    width: 50%;
    margin: auto;
    /* border: 1px solid #80808038;
    box-shadow: 5px 8px 10px #65bb8c7d; */
    padding: 10px 0px 10px 0px;
    border-radius: 170px;
    height:300px;
}

.form-group {
    display: flex;
   flex-direction: row;
   justify-content: center;
}
.form-group label{
    padding: 0px 50px 10px 0px;
    text-align: right;
    color: var(--light);
}
.input-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ffffff;
    width: 250px;
    background: rgba(94, 204, 144, 0);
    outline: none;
}
form>div>input {
    width: 43% !important;
    margin-left: 10px;
    margin-bottom: 10px;
}
form>div>label {
    width: 20%;
    text-align: right;
    vertical-align: bottom;
}
.signInUp {
    background-color: #15202a;
    border: 2px solid #7a7a7a54;
    color: #dfdfdf;
    padding: 2px 4px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
    animation-duration: 1s;
    text-decoration: none !important;

}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 .fadeOut{
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }
.button{
    height: 33px;
    width: 100px;
    margin: 20px 0px 0px 326px;
    background: linear-gradient(45deg, #2b7981ad, #d6e6ff87,#9cc7e594,#f5a3a3ab, #cab67e);
    border: 0px solid #e6f3f3;
    box-shadow: 3px 3px 12px 2px #0074809e;
    border-radius: 3px;
    outline: none;
    font-size: 20px;
    font-family: monospace;
}
.comment-container {
    text-align: left;
    background: #15191826;
    /* margin: 0px !important; */
    box-shadow: 0px 0px 20px 0px #293b4b;
    position: relative;
}
.comment-container::before {
    content: "\26A1";
    left:5px;
    font-size: 20px;
    position: absolute;
}

.comment-box {
    box-sizing: border-box;
    margin: 10px 0px 0px 150px;
    border: 0px;
    box-sizing: 14px 0px 12px;
    box-shadow: inset 0px 0px 8px 0px #293b4b;
    background: #00804d00;
    outline: none;
    padding: 10px;
    /* font-stretch: extra-expanded; */
    font-family: monospace;
}
.comment-box::placeholder {
    color: white;
    font-size: 1.2em;
  }
  .comment-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(21, 32, 43);
    background-color: #F5F5F5;
}

.comment-box::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(75, 71, 97, 0.767);
}

.comment-box::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.post-comment-container{
    background: rgb(21, 32, 43);
    height: 100vh;
}
.post-btn {
    height: 40px;
    width: 100px;
    background: #141f28;
    position: relative;
    bottom: 20px;
    margin: 0px 20px;
    border-radius: 25px;
    border: solid #363d44;
    font-size: 20px;
    box-shadow: 0px 0px 8px 0px #124776;
    outline: none;
}
 @-webkit-keyframes glow {
    0% {box-shadow: 0px 0px 8px 0px #124776;}
    50% {box-shadow: 0px 0px 8px 0px #aac0d5;}
    100% {box-shadow: 0px 0px 8px 0px #124776;}
 }
 
 @keyframes glow {
    0%{box-shadow: 0px 0px 8px 0px #124776;}
    50% {box-shadow: 0px 0px 8px 0px #aac0d5;}
    100% {box-shadow: 0px 0px 8px 0px #124776;}
 }
.post-btn:hover{
    -webkit-animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    transition: 10s;
    animation-name: glow;
}
@-webkit-keyframes glowText {
    0% {text-shadow: 0px 0px 20px #4c81af;}
    50% {text-shadow: 0px 0px 20px#aac0d5;}
    100% {text-shadow: 0px 0px 20px #4c81af;}
 }
 
 @keyframes glowText {
    0% {text-shadow: 0px 0px 20px #4c81af;}
    50% {text-shadow: 0px 0px 20px#aac0d5;}
    100% {text-shadow: 0px 0px 20px #4c81af;}
 }
.brand-name{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    transition: 10s;
    animation-name: glowText;
    display: inline;
    font-size: 20px;
    text-shadow: 0px 0px 20px #4c81af;
    outline: none;
}
.brand-name::before{
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 30px;
    padding-right: 0.5em;
    position: absolute;
    top: 24px;
    left: 20px;
}
.show-comments-container{
    display: grid;
    grid-template-columns:200px auto 500px;
}
.show-comments-container>div{
  
  padding: 20px 0;
  font-size: 16px;
}

.show-comments-container ul {
    text-decoration: none;
    /* border-left: 2px solid black; */
    list-style: none;
}
.postContainer {
    box-shadow: 0px 0px 15px 1px #22303d;
    padding: 10px;
    animation-duration: 4s;
    animation-name: fadeIn;
}
.postUserName {
    margin-left: 10px;
    font-size: 20px;
    color: #7e8990;
}
.post-s {
    margin-left: 20px;
}
.btnLikeDislike {
    font-size: 12px;
    background: #15202b;
    border: none;
    margin: 4px;
}
.replyBox {
    border: 0px;
    box-shadow: inset 0px 0px 8px 0px #293b4b;
    background: #00804d00;
    outline: none;
    padding: 10px;
    width: 500px;
    margin: 10px;
    height: auto;
    /* font-stretch: extra-expanded; */
    font-family: monospace;
    border-radius: 5px;
}
.replyBox[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

.replyBox[placeholder]:empty:focus::before {
    content: "";
}
.reply-btn-post {
    background: #141f28;
    position: relative;
    bottom: 10px;
    margin: 0px 20px;
    border-radius: 25px;
    border: solid #363d44;
    font-size: 12px;
    box-shadow: 0px 0px 8px 0px #124776;
    outline: none;
}
.replyContainer-fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
}
.replyContainer-fadeOut{
    animation-duration: 1s;
    animation-name: fadeOut;
}
.comment-user-name {
    font-size:14px;
    margin:10px;
    color: #7e8990;
}
.post-comment{
    margin-left: 20px;
    font-size:12px;
}
.commentList {
    box-shadow: 0px 0px 15px 1px #22303d;
    padding: 5px;
    animation-duration: 3s;
    animation-name: fadeIn;
}
.replyUl ul li:nth-child(n+3){
    display: none;
}
.showMore {
    font-size: 12px;
    margin-left: 440px;
    cursor: pointer;
}
.likeDislikes {
    position: relative;
}
.likeDislikes .likeDislikeList {
    position: absolute;
    display: none;
    list-style: none;
    background: #576c80;
    box-shadow: 0px 0px 4px 0px;
}
.likeDislikes .likeDislikeList ul {
    padding: 1px;
}
.replyLike span{
    font-size: 10px;
    margin: 10px 0px 0px 20px;
    cursor: pointer;
}